In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\Students_Social_Media_Addiction_PowerBI\Students Social Media Addiction.csv")

In [4]:
data.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [5]:
data['Student_ID']

0        1
1        2
2        3
3        4
4        5
      ...
700    701
701    702
702    703
703    704
704    705
Name: Student_ID, Length: 705, dtype: int64

In [6]:
data.shape

(705, 13)

In [7]:
data.isnull().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

In [8]:
data.duplicated().sum()

np.int64(0)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [12]:
data.select_dtypes(include='number').shape

(705, 7)

In [13]:
data.select_dtypes(exclude='number').shape

(705, 6)

In [15]:
data.nunique()

Student_ID                      705
Age                               7
Gender                            2
Academic_Level                    3
Country                         110
Avg_Daily_Usage_Hours            67
Most_Used_Platform               12
Affects_Academic_Performance      2
Sleep_Hours_Per_Night            59
Mental_Health_Score               6
Relationship_Status               3
Conflicts_Over_Social_Media       6
Addicted_Score                    8
dtype: int64

In [23]:
data.columns=data.columns.str.replace("_"," ").str.lower()

In [24]:
data.head()

,student id,age,gender,academic level,country,avg daily usage hours,most used platform,affects academic performance,sleep hours per night,mental health score,relationship status,conflicts over social media,addicted score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [26]:
data.drop(columns=['student id'],inplace=True)

In [27]:
data.head()

,age,gender,academic level,country,avg daily usage hours,most used platform,affects academic performance,sleep hours per night,mental health score,relationship status,conflicts over social media,addicted score
0,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [34]:
categorical_cols=data.select_dtypes(exclude='number').columns

In [36]:
data.describe()

,age,avg daily usage hours,sleep hours per night,mental health score,conflicts over social media,addicted score
count,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000
mean,20.659574,4.918723,6.868936,6.226950,2.849645,6.436879
std,1.399217,1.257395,1.126848,1.105055,0.957968,1.587165
min,18.000000,1.500000,3.800000,4.000000,0.000000,2.000000
25%,19.000000,4.100000,6.000000,5.000000,2.000000,5.000000
50%,21.000000,4.800000,6.900000,6.000000,3.000000,7.000000
75%,22.000000,5.800000,7.700000,7.000000,4.000000,8.000000
max,24.000000,8.500000,9.600000,9.000000,5.000000,9.000000

In [37]:
for cols in categorical_cols:
    print(data[cols].value_counts())
    print("-"*15)

gender
Female    353
Male      352
Name: count, dtype: int64
---------------
academic level
Undergraduate    353
Graduate         325
High School       27
Name: count, dtype: int64
---------------
country
India          53
USA            40
Canada         34
France         27
Mexico         27
               ..
Oman            1
Afghanistan     1
Syria           1
Yemen           1
Bhutan          1
Name: count, Length: 110, dtype: int64
---------------
most used platform
Instagram    249
TikTok       154
Facebook     123
WhatsApp      54
Twitter       30
LinkedIn      21
WeChat        15
Snapchat      13
VKontakte     12
LINE          12
KakaoTalk     12
YouTube       10
Name: count, dtype: int64
---------------
affects academic performance
Yes    453
No     252
Name: count, dtype: int64
---------------
relationship status
Single             384
In Relationship    289
Complicated         32
Name: count, dtype: int64
---------------

In [38]:
data.head(1)

,age,gender,academic level,country,avg daily usage hours,most used platform,affects academic performance,sleep hours per night,mental health score,relationship status,conflicts over social media,addicted score
0,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8

In [39]:
data.columns

Index(['age', 'gender', 'academic level', 'country', 'avg daily usage hours',
       'most used platform', 'affects academic performance',
       'sleep hours per night', 'mental health score', 'relationship status',
       'conflicts over social media', 'addicted score'],
      dtype='object')

In [47]:
data['country'].nunique()

110

In [46]:
data['country'].value_counts().head(30)

country
India          53
USA            40
Canada         34
France         27
Mexico         27
Spain          27
Turkey         27
Ireland        27
Denmark        27
Switzerland    27
UK             22
Japan          21
Italy          21
Russia         21
Bangladesh     20
Maldives       19
Sri Lanka      19
Nepal          19
Pakistan       19
China          16
Poland         16
Germany        14
Australia      14
South Korea    13
UAE             8
Singapore       8
New Zealand     8
Brazil          8
Malaysia        8
Netherlands     8
Name: count, dtype: int64

In [48]:
data.to_csv("student_addiction_data_cleaned.csv",index=False)